moviepy
streamlit
fastapi
uvicorn
requests
beautifulsoup4
opencc-python-reimplemented
python-dotenv
openai
mutagen
pillow
numpy
scipy
duckduckgo-search
fonttools
google-generativeai
qwen-tts
soundfile
torch
pychorus
